body {
    /* font-family: Arial, sans-serif; */
    color: black;
    font-size: 20px;    
}

div, p , input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

h1 {
    color: red;
    font-size: 60px;
    margin: 40px 10px;
} 

.newp1 {
    font-size: 25px;
    width: 200px;
    height: 140px;
    background: blue;
    color: #fff;
    margin-bottom: 170px;
}

.newp1:hover {
    opacity: 0.3;
}

h2{
font-size: 40px;
padding: 10px 10px 5px 10px;
height: 50px;
background: green;
color: #fff;
margin-top: 30px;
margin-bottom: 40px;
}

p{
    font-size: 25px;
    margin: 10px 0;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}

span{
    color: red;     
}

span:hover {
    font-size: 35px;
    letter-spacing: 0em;
}

.newh2{
    font-size: 45px;
    padding: 80px 70px;
    height: 50px;
    background: green;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 40px;
    }

.newp3{
    padding-left: 150px;
    margin-bottom: 20px;
}

.block {
    font-size: 17px;
    width: 300px;
    height: 300px;
    background: #29b0c7;
    color: #fff;
    padding: 20px 10px 30px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px solid green;
    border: 5px dashed green;
    border: 5px dotted green;
    opacity: 1;
}

input, button{
    font-size: 25px;
    padding: 5px 10px;
}

.newp4{
    margin: 25px 10px 50px 10px;
}

li{
    font-size: 50px;
    border: 3px solid black;
}

.newh3{
    margin: 55px 5px 35px 5px;
    padding: 10px 10px 5px 10px;
}

.a2{
    font-size: 30px;
    color:blue;
    margin: 10px 5px;
    padding-bottom: 50px;
}

.a2:hover {
    opacity: 0.9;
    font-size: 35px;
    color: royalblue;
    letter-spacing: 0.05em;
}
